@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    list-style: none;
}

:root{
    --p-color: rgb(60, 53, 79);
    --primary-color: #FF42A5;
    --secondary-color:rgb(78, 197, 247);
    --small-color: rgb(83, 76, 100);
    --text-bold: #0B0223;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

.nav-section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul,
.follow-us,
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    gap: 15px;
    font-size: 1.2rem;
}

.brand img{
    width: 55px;
}

.brand span{
    color: var(--primary-color);
}

.menu ul{
    gap: 30px;
}

.menu-link{
    text-decoration: none;
    font-weight: 500;
    color: var(--p-color);
}

.follow-us{
    background-color: rgba(11, 2, 35, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: .9rem;
    gap: 15px;
    color: var(--p-color);
}

.menu img{
    width: 25px;
}

.menu img:last-child{
    width: 18px;
}

.menu-icon{
    display: none;
    font-size: 30px;
}

/* 
--------------------------- Hero Section --------------------
*/
.hero-section{
    width: 100%;
    height: 700px;
    background-image: url("../assets/images/Group\ 14.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.hero-section-content{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero-content p{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.hero-content h1{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin: 0 0 10px;
}

.description-item{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px; 
    color: rgb(83, 76, 100);
}

.description-item span{
    font-weight: 500;
    font-size: .9rem;
}

.description-item:nth-child(2) i{
    color: var(--primary-color);
}

.buttons{
    margin: 15px 0;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.button{
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 48px;
}

.button:last-child {
    background-color: var(--secondary-color);
}

.hero-container{
    width: 50%;
    height: 100%;
    margin-bottom:-30px;
}

.hero-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* 
------------------------ about section ------------------------
*/
.about-section{
    width: 100%;
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.about-section-content{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    gap: 20px;
}

.about-container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container img{
    width: 100%;
    object-fit: contain;
}

.about-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.about-content h2{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
}

.about-content p{
    color: var(--small-color);
    text-align: end;
    font-size: .9rem;
    line-height: 1.5;
    font-weight: 500;
}

.about-content span p{
    font-size: 1.1rem;
}

.about-content span h3{
    color: var(--small-color);
    font-size: 1.3rem;
}

/* 
-------------------- Online Games Section ---------------
*/
.online-games-section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.online-games-content{
    text-align: center;
    padding: 40px 0;
}

.online-games-content h2{
    font-size: 2rem;
    color: var(--text-bold);
}

.online-games-content h2 span{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-content p{
    font-size: .8rem;
    margin-top: 10px;
    font-weight: 500;
    color: var(--small-color);
}

.online-games-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.online-games-item p{
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 500;
    color: var(--small-color);
    line-height: 1.4;
}

.games-img{
    width: 100%;
    position: relative;
}

.games-img img{
    width: 100%;
}

.games-img div{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.600);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    border: 4px solid var(--primary-color);
    visibility: hidden;
}

.games-img div img{
    width: 27px;
    height: 27px;
    filter: brightness(0) invert(1);
}

.games-img div p{
    color: var(--primary-color);
    margin-top: 10px;
}

.online-games-item:hover .games-img div{
    visibility: visible;
}

.games-section{
    display: flex;
    margin: 70px 0 0;
    gap: 20px;
}

.games-section-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games-section-content div{
    max-width: 280px;
    text-align: end;
}

.games-section-content div h2{
    font-size: 2.4rem;
    color: var(--text-bold);
    line-height: 1.5;
}

.games-section-content div h2 span{
    color: var(--primary-color);
}

.games-section-content div p{
    margin: 20px 0;
    line-height: 1.5;
    color: var(--small-color);
    font-size: .9rem;
    font-weight: 500;
}

.games-section-img{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: end;
}

.games-section-img .first-img{
    width: calc(100% - 20%);
    height: calc(100% - 20%);
    margin-left: 15%;
    margin-bottom: 15%;
}

.games-section-img .last-img{
    width: 30%;
    position: absolute;
    left: 5%;
    bottom:5%;
}

.games-section-img div img{
    width: 100%;
    height: 100%;
}


.games-section-img-2{
    justify-content: start;
}

.games-section-img-2 .first-img{
    margin-left: 0;
    margin-right: 15%;
}

.games-section-img-2 .last-img{
    left: auto;
    right: 5%;
}


.games-section-content-2 div{
    max-width: 350px;
    text-align: start;
}

/* 
--------------------- Careers section -------------------------
*/

.careers-section{
    width: 100%;
    background-color: #FF42A5;
    display: flex;
}

.careers-img,
.careers-container{
    width: 50%;
}

.careers-container{
    display: flex;
    justify-content: end;
}

.careers-img .img-div{
    width: 100%;
    height: 100%;
}

.careers-img .img-div img{
    width: 100%;
    height: 100%;
}

.careers-content{
    max-width: 700px;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.careers-content h2{
    font-size: 2rem;
    color: white;
}

.careers-content p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.921);
    line-height: 1.5;
    font-size: .9rem;
}

.list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item li{
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
}

.careers-content .button{
    font-weight: 600;
    margin-top: 20px;
    background-color: white;
    color: var(--primary-color);
}

.last-child{
    margin-left: 5px;
}


/* 
-------------------- Category Section ------------------
*/
.category-section{
    width: 100%;
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
}

.category-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.category-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: white;
    padding: 10px 13px 10px 10px;
    border-radius: 200px;
    transition: all .40s ease;
    border: 1px solid white;
}

.category-item:hover{
    border: 1px solid var(--primary-color);
}

.category-item:hover p{
    color: var(--primary-color);
}

.category-item p{
    font-weight: 600;
    font-weight: 2rem;
    color: var(--text-bold);
}

.category-item .img-div{
    width: 50px;
}

.category-item .img-div img{
    width: 100%;
}


/* 
--------------------- Footer section ---------------------
*/
.footer-section{
    background: rgb(11, 2, 35);
}

.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 30px;
    color: white;
    text-align: center;
}

.footer-container .brand{
    color: white;
    font-size: 1rem;
}

.footer-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links{
    gap: 30px;
    margin: 40px 0;
    font-size: 1.2rem;
}

.footer-icons{
    gap: 20px;
}

.footer-icons li i{
    font-size: 2.2rem;
}

.footer-useful-link{
    gap: 40px;
    margin: 40px 0 25px;
}

.footer-useful-link,
.footer-container p{
    color: rgba(255, 255, 255, 0.6);
    font-size: .9rem;
}







/* 
-------------------------------------- Responsive ----------------------------------
*/
@media screen and (max-width: 993px) {

    .menu-icon{
        display: block;
    }

    .menu{
        display: none;
    }
    
    .about-section-content,
    .games-section,
    .careers-section{
        flex-direction: column;
    }

    .hero-section-content,
    .games-section-2{
        flex-direction: column-reverse;
    }
    
    .hero-section{
        height: 100%;
        background-image: none;
    }
    
    .hero-content,
    .about-container,
    .about-content,
    .games-section-img,
    .games-section-content,
    .careers-img,
    .careers-container{
        width: 100%;
    }

    h3{
        text-align: center;
    }

    .games-section-img{
        justify-content: center;
    }

    .careers-content{
        max-width: 100%;
    }
    
    .about-content{
        align-items: center;
        margin-bottom: 50px;
    }
    
    .about-content p{
        text-align: center;
        max-width: 420px;
    }
    
    
    .hero-content{
        background-image: url("../assets/images/Group\ 14.png");
        background-size: cover;
        padding: 150px 30px;
        margin-top: 4px;
        align-items: center;
    }
    
    
    .online-games-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .games-section-content div{
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .online-games-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .online-games-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .last-child{
        text-align: end;
    }

    .hero-content{
        padding: 50px 30px;
    }

    .hero-container{
        width: 100%;
    }
}